/* frontend/static/css/keyword.css */

.keyword-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 84px - 200px); /* 헤더, 푸터 제외 최소 높이 */
    flex-grow: 1; /* 남은 공간을 채우도록 */
    background: #F5F7FA;
    padding: 20px;
    text-align: center;
}

.keyword-page-container h1 {
    color: #4d4d4d;
    font-size: 32px;
    margin-bottom: 15px;
}

.keyword-page-container p {
    color: #717171;
    font-size: 18px;
    line-height: 1.5;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .keyword-page-container h1 {
        font-size: 28px;
    }
    .keyword-page-container p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .keyword-page-container h1 {
        font-size: 24px;
    }
    .keyword-page-container p {
        font-size: 15px;
    }
}