alembic
blinker
certifi
charset-normalizer
click
dnspython
email_validator
Flask
Flask-Cors
Flask-Migrate
Flask-MongoAlchemy
Flask-PyMongo
Flask-SQLAlchemy
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mongoalchemy
packaging
pymongo
PyMySQL
python-dotenv
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
bcrypt
Flask-Bcrypt
Flask-JWT-Extended

